#root {
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #0b0b0b;
  background-color: #ffffff;
}

.highlight-box {
  display: flex;
}

.youran_mast {
  position: relative;
  text-align: right;
  width: 100%;
  margin: 0 auto;
}

.youran_mast img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.overlay_major_basic,
.overlay_major,
.overlay_common,
.grayout_bisekiA {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.343);
}

.overlay_major {
  top: 27.8%;
  left: 2.4%;
  width: 10.1%;
  height: 46%;
}

.overlay_major_basic {
  top: 27.8%;
  left: 22.7%;
  width: 13.4%;
  height: 46%;
}

.overlay_common {
  top: 27.8%;
  left: 46.3%;
  width: 11.5%;
  height: 46%;
}

.grayout_bisekiA {
  top: 27.8%;
  left: 22.7%;
  width: 13.4%;
  height: 1.97%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tool-title {
  font-size: 1.5em;
  color: #495057;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-title {
  font-size: 2.5em;
  color: #343a40;
  margin: 15px 0;
  font-weight: 700;
}

.sub-title {
  font-size: 1.8em;
  color: #6c757d;
  margin: 10px 0;
  font-weight: 500;
}

.description {
  font-size: 1.1em;
  color: #868e96;
  margin-top: 15px;
  line-height: 1.6;
}

.hover_info {
  position: relative;
  z-index: 1;
}
.info {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: black;
  padding: 5px;
  width: 150px;
  bottom: calc(100% + 17px);
  left: 0%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
}
.hover_info::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid #f8f9fa;
  bottom: 17px;
  left: calc(50% - 7px);
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_info:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_info:hover * {
  opacity: 1;
  visibility: visible;
}

.hover_sougou_must {
  position: relative;
  z-index: 1;
}

.sougou_must {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: black;
  padding: 5px;
  width: 150px;
  bottom: calc(100% + 17px);
  left: 0%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
}

.hover_sougou_must::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid #f8f9fa;
  bottom: 82px;
  left: calc(50% - 7px);
  margin-top: -2px;
  visibility: hidden;
  pointer-events: none;
}
.hover_sougou_must:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_sougou_must:hover * {
  opacity: 1;
  visibility: visible;
}

.hover_English {
  position: relative;
  z-index: 3;
}
.English {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: black;
  padding: 5px;
  width: 150px;
  bottom: calc(100% + 17px);
  left: 0%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 3;
}
.hover_English::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid #f8f9fa;
  bottom: 17px;
  left: calc(50% - 7px);
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_English:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_English:hover * {
  opacity: 1;
  visibility: visible;
}

.hover_pe {
  position: relative;
  z-index: 2;
}
.pe {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: black;
  padding: 5px;
  width: 150px;
  bottom: calc(100% + 17px);
  left: 0%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
}
.hover_pe::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid #f8f9fa;
  bottom: 18px;
  left: calc(50% - 7px);
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_pe:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_pe:hover * {
  opacity: 1;
  visibility: visible;
}

.elective_basic {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: black;
  padding: 5px;
  width: 230px;
  top: 20;
  left: 100%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 3;
  color: green;
}

.hover_elective_basic {
  position: relative;
  z-index: 2;
}
.hover_elective_basic:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_elective_basic:hover * {
  opacity: 1;
  visibility: visible;
}

.basic-white-area {
  position: absolute;
  background: white; /* 背景色を白に設定 */
  text-align: center;
  align-items: center;
  width: 9.72%;
  top: 65%;
  left: 36.14%;
  height: 9.1%; /* 必要に応じて高さを指定 */
  z-index: 10;
  font-size: 30%;
  white-space: nowrap;
}

.advanced-white-area {
  position: absolute;
  background: white;
  text-align: center;
  align-items: center;
  width: 9.92%;
  top: 65%;
  left: 12.45%;
  height: 9.1%;
  z-index: 10;
  font-size: 30%;
  white-space: nowrap;
}

.gakusi {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: 180px;
  bottom: 56px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
}
.hover_gakusi {
  position: relative;
  z-index: 1;
}
.hover_gakusi::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid #f8f9fa;
  bottom: 36px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_gakusi:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_gakusi:hover * {
  opacity: 1;
  visibility: visible;
}

.electivePE {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: 180px;
  bottom: 24px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
}
.hover_electivePE {
  position: relative;
  z-index: 1;
}
.hover_electivePE::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid #f8f9fa;
  bottom: 6px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_electivePE:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_electivePE:hover * {
  opacity: 1;
  visibility: visible;
}

.electiveLanguage {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: 180px;
  bottom: 24px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
}
.hover_electiveLanguage {
  position: relative;
  z-index: 1;
}
.hover_electiveLanguage::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid #f8f9fa;
  bottom: 6px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_electiveLanguage:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_electiveLanguage:hover * {
  opacity: 1;
  visibility: visible;
}

.electiveJapanese {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: 180px;
  bottom: 24px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
}
.hover_electiveJapanese {
  position: relative;
  z-index: 1;
}
.hover_electiveJapanese::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid #f8f9fa;
  bottom: 6px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_electiveJapanese:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_electiveJapanese:hover * {
  opacity: 1;
  visibility: visible;
}

.electiveArt {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: 180px;
  bottom: 24px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
}
.hover_electiveArt {
  position: relative;
  z-index: 1;
}
.hover_electiveArt::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid #f8f9fa;
  bottom: 6px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_electiveArt:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_electiveArt:hover * {
  opacity: 1;
  visibility: visible;
}

.electiveGBGE {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: 180px;
  bottom: 40px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
}
.hover_electiveGBGE {
  position: relative;
  z-index: 1;
}
.hover_electiveGBGE::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid #f8f9fa;
  bottom: 20px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_electiveGBGE:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_electiveGBGE:hover * {
  opacity: 1;
  visibility: visible;
}

.electiveMuseum {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: 180px;
  bottom: 40px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
}
.hover_electiveMuseum {
  position: relative;
  z-index: 1;
}
.hover_electiveMuseum::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid #f8f9fa;
  bottom: 20px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_electiveMuseum:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_electiveMuseum:hover * {
  opacity: 1;
  visibility: visible;
}

.otherSubjects {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: 180px;
  bottom: 80px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
}
.hover_otherSubjects {
  position: relative;
  z-index: 1;
}
.hover_otherSubjects::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid #f8f9fa;
  bottom: 60px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_otherSubjects:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_otherSubjects:hover * {
  opacity: 1;
  visibility: visible;
}

.common-white-area {
  position: absolute;
  background: white;
  text-align: center;
  align-items: center;
  width: 8.6%;
  top: 65%;
  left: 57.6%;
  height: 9.2%;
  z-index: 10;
  font-size: 30%;
  white-space: nowrap;
}

.relation-white-area {
  position: absolute;
  background: white;
  text-align: center;
  align-items: center;
  width: 9.19%;
  top: 65%;
  left: 74.25%;
  height: 9.2%;
  z-index: 10;
  font-size: 30%;
  white-space: nowrap;
}

.alert_lack_of_elective_units {
  position: absolute;
  top: 26.4%;
  left: 90.3%;
  width: 2.9%;
  height: 51%;
  background: rgba(256, 256, 0, 0.4);
}

.fulfill_elective_units {
  position: absolute;
  top: 26.4%;
  left: 90.3%;
  width: 2.9%;
  height: 51%;
  background: rgba(0, 128, 0, 0.4);
}

.balloon2-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #fff;
  border: solid 3px #555;
  box-sizing: border-box;
  text-align: left;
}

.balloon2-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #fff;
  z-index: 2;
}

.balloon2-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.balloon2-left p {
  margin: 0;
  padding: 0;
}
