/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

.highlight-box {
  position: relative;
  display: inline-block;
}

.overlay_major_basic {
  position: absolute;
  top: 268px;
  left: 313px;
  width: 185px;
  height: 442px;
  background-color: rgba(255, 255, 0, 0.5);
}

.overlay_major {
  position: absolute;
  top: 268px;
  left: 33px;
  width: 139px;
  height: 442px;
  background-color: rgba(255, 255, 0, 0.5);
}

.overlay_common {
  position: absolute;
  top: 268px;
  left: 639px;
  width: 158px;
  height: 442px;
  background-color: rgba(255, 255, 0, 0.5);
}

.grayout_bisekiA {
  position: absolute;
  top: 268px;
  left: 313px;
  width: 185px;
  height: 18px;
  background-color: rgba(28, 56, 1, 0.5);
}

.youran_mast {
  text-align: right;
}
