#root {
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #0b0b0b;
  background-color: #ffffff;
}

.highlight-box {
  display: flex;
}

.youran_mast {
  position: relative;
  text-align: right;
  width: 100%;
  margin: 0 auto;
}

.youran_mast img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.overlay_major_basic,
.overlay_major,
.overlay_common,
.grayout_bisekiA {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.343);
}

.overlay_major {
  top: 27.8%;
  left: 2.4%;
  width: 10.1%;
  height: 46%;
}

.overlay_major_basic {
  top: 27.8%;
  left: 22.7%;
  width: 13.4%;
  height: 46%;
}

.overlay_common {
  top: 27.8%;
  left: 46.3%;
  width: 11.5%;
  height: 46%;
}

.grayout_bisekiA {
  top: 27.8%;
  left: 22.7%;
  width: 13.4%;
  height: 1.97%;
  background-color: rgba(0, 0, 0, 0.5);
}

.tool-title {
  font-size: 1.5em;
  color: #495057;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-title {
  font-size: 2.5em;
  color: #343a40;
  margin: 15px 0;
  font-weight: 700;
}

.sub-title {
  font-size: 1.8em;
  color: #6c757d;
  margin: 10px 0;
  font-weight: 500;
}

.description {
  font-size: 1.1em;
  color: #868e96;
  margin-top: 15px;
  line-height: 1.6;
}

.hover_info {
  position: relative;
  z-index: 1;
}
.info {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: black;
  padding: 5px;
  width: 150px;
  bottom: calc(100% + 17px);
  left: 0%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
  border-radius: 10px;
  border: 2px solid black;
}
.hover_info::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid black;
  bottom: 17px;
  left: calc(50% - 7px);
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_info::after {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 12px solid #f8f9fa;
  bottom: 23px;
  left: calc(50% - 5px);
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}
.hover_info:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_info:hover::after {
  opacity: 1;
  visibility: visible;
}
.hover_info:hover * {
  opacity: 1;
  visibility: visible;
}

.hover_sougou_must {
  position: relative;
  z-index: 1;
}

.sougou_must {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: black;
  padding: 5px;
  width: 150px;
  bottom: calc(100% + 17px);
  left: 0%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
  border-radius: 10px;
  border: 2px solid black;
}

.hover_sougou_must::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid black;
  bottom: 72px;
  left: calc(50% - 7px);
  margin-top: -2px;
  visibility: hidden;
  pointer-events: none;
}
.hover_sougou_must::after {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 12px solid #f8f9fa;
  bottom: 78px;
  left: calc(50% - 5px);
  margin-top: -2px;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}
.hover_sougou_must:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_sougou_must:hover::after {
  opacity: 1;
  visibility: visible;
}
.hover_sougou_must:hover * {
  opacity: 1;
  visibility: visible;
}

.hover_English {
  position: relative;
  z-index: 3;
}
.English {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: black;
  padding: 5px;
  width: 150px;
  bottom: calc(100% + 17px);
  left: 0%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 3;
  border-radius: 10px;
  border: 2px solid black;
}
.hover_English::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid black;
  bottom: 17px;
  left: calc(50% - 7px);
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_English::after {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 12px solid #f8f9fa;
  bottom: 23px;
  left: calc(50% - 5px);
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
  z-index: 3;
}
.hover_English:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_English:hover::after {
  opacity: 1;
  visibility: visible;
}
.hover_English:hover * {
  opacity: 1;
  visibility: visible;
}

.hover_pe {
  position: relative;
  z-index: 2;
}
.pe {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: black;
  padding: 5px;
  width: 150px;
  bottom: calc(100% + 17px);
  left: 0%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
  border-radius: 10px;
  border: 2px solid black;
}
.hover_pe::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid black;
  bottom: 18px;
  left: calc(50% - 7px);
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_pe::after {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 12px solid #f8f9fa;
  bottom: 24px;
  left: calc(50% - 5px);
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}
.hover_pe:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_pe:hover::after {
  opacity: 1;
  visibility: visible;
}
.hover_pe:hover * {
  opacity: 1;
  visibility: visible;
}

.elective_basic {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: black;
  padding: 5px;
  width: fit-content;
  top: 20;
  left: 100%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  color: green;
  white-space: nowrap;
  border-radius: 10px;
  border: 2px solid black;
}

.hover_elective_basic {
  position: relative;
  z-index: 6;
}
.hover_elective_basic:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_elective_basic:hover * {
  opacity: 1;
  visibility: visible;
}

.gakusi {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: fit-content;
  bottom: 56px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 2;
  border-radius: 10px;
  border: 2px solid black;
}
.hover_gakusi {
  position: relative;
  z-index: 2;
}
.hover_gakusi::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid black;
  bottom: 36px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_gakusi::after {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 12px solid #f8f9fa;
  bottom: 42px;
  left: 22px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.hover_gakusi:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_gakusi:hover::after {
  opacity: 1;
  visibility: visible;
}
.hover_gakusi:hover * {
  opacity: 1;
  visibility: visible;
}

.electivePE {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: fit-content;
  bottom: 24px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 3;
  border-radius: 10px;
  border: 2px solid black;
}
.hover_electivePE {
  position: relative;
  z-index: 3;
}
.hover_electivePE::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid black;
  bottom: 6px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_electivePE::after {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 12px solid #f8f9fa;
  bottom: 12px;
  left: 22px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
  z-index: 3;
}
.hover_electivePE:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_electivePE:hover::after {
  opacity: 1;
  visibility: visible;
}
.hover_electivePE:hover * {
  opacity: 1;
  visibility: visible;
}

.electiveLanguage {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: fit-content;
  bottom: 24px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 4;
  border-radius: 10px;
  border: 2px solid black;
}
.hover_electiveLanguage {
  position: relative;
  z-index: 4;
}
.hover_electiveLanguage::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid black;
  bottom: 6px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_electiveLanguage::after {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 12px solid #f8f9fa;
  bottom: 12px;
  left: 22px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
  z-index: 4;
}
.hover_electiveLanguage:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_electiveLanguage:hover::after {
  opacity: 1;
  visibility: visible;
}
.hover_electiveLanguage:hover * {
  opacity: 1;
  visibility: visible;
}

.electiveJapanese {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: fit-content;
  bottom: 24px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 4;
  border-radius: 10px;
  border: 2px solid black;
}
.hover_electiveJapanese {
  position: relative;
  z-index: 4;
}
.hover_electiveJapanese::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid black;
  bottom: 6px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_electiveJapanese::after {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 12px solid #f8f9fa;
  bottom: 12px;
  left: 22px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
  z-index: 4;
}
.hover_electiveJapanese:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_electiveJapanese:hover::after {
  opacity: 1;
  visibility: visible;
}
.hover_electiveJapanese:hover * {
  opacity: 1;
  visibility: visible;
}

.electiveArt {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: fit-content;
  bottom: 24px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 5;
  border-radius: 10px;
  border: 2px solid black;
}
.hover_electiveArt {
  position: relative;
  z-index: 5;
}
.hover_electiveArt::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid black;
  bottom: 6px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_electiveArt::after {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 12px solid #f8f9fa;
  bottom: 12px;
  left: 22px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
  z-index: 5;
}
.hover_electiveArt:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_electiveArt:hover::after {
  opacity: 1;
  visibility: visible;
}
.hover_electiveArt:hover * {
  opacity: 1;
  visibility: visible;
}

.electiveGBGE {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: fit-content;
  bottom: 40px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 2;
  border-radius: 10px;
  border: 2px solid black;
}
.hover_electiveGBGE {
  position: relative;
  z-index: 2;
}
.hover_electiveGBGE::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid black;
  bottom: 20px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_electiveGBGE::after {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 12px solid #f8f9fa;
  bottom: 26px;
  left: 22px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.hover_electiveGBGE:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_electiveGBGE:hover::after {
  opacity: 1;
  visibility: visible;
}
.hover_electiveGBGE:hover * {
  opacity: 1;
  visibility: visible;
}

.electiveMuseum {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: fit-content;
  bottom: 40px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
  border-radius: 10px;
  border: 2px solid black;
}
.hover_electiveMuseum {
  position: relative;
  z-index: 1;
}
.hover_electiveMuseum::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid black;
  bottom: 20px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_electiveMuseum::after {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 12px solid #f8f9fa;
  bottom: 26px;
  left: 22px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}
.hover_electiveMuseum:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_electiveMuseum:hover::after {
  opacity: 1;
  visibility: visible;
}
.hover_electiveMuseum:hover * {
  opacity: 1;
  visibility: visible;
}

.otherSubjects {
  opacity: 0;
  transition: 0.5s;
  background: #f8f9fa;
  position: absolute;
  color: green;
  padding: 5px;
  width: fit-content;
  bottom: 80px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  font-size: 10%;
  z-index: 1;
  border-radius: 10px;
  border: 2px solid black;
}
.hover_otherSubjects {
  position: relative;
  z-index: 1;
}
.hover_otherSubjects::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 14px solid black;
  bottom: 60px;
  left: 20px;
  margin-top: -3px;
  visibility: hidden;
  pointer-events: none;
}
.hover_otherSubjects::after {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 12px solid white;
  bottom: 66px;
  left: 22px;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}
.hover_otherSubjects:hover::before {
  opacity: 1;
  visibility: visible;
}
.hover_otherSubjects:hover::after {
  opacity: 1;
  visibility: visible;
}
.hover_otherSubjects:hover * {
  opacity: 1;
  visibility: visible;
}

.basic-white-area {
  display: flex;
  width: 10%;
  left: 36%;
  position: absolute;
  background: #f8f9fa;
  text-align: center;
  align-items: center;
  top: 69%;
  height: 4%;
  z-index: 7;
  font-size: 30%;
  white-space: nowrap;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  border: 2px solid black;
}

.basic-white-area p {
  width: 100%;
  margin: 0;
}

.basic-white-area:before {
  content: "";
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translateX(-50%); /* 中央揃え */
  border: 8px solid transparent;
  border-top: 12px solid #f8f9fa; /* 上方向の三角形を作る */
  z-index: 2;
}

.basic-white-area:after {
  content: "";
  position: absolute;
  top: 100%; /* 下方向に配置 */
  left: 50%; /* 吹き出しの中央に配置 */
  transform: translateX(-50%); /* 中央揃え */
  border: 10px solid transparent;
  border-top: 14px solid black; /* 上方向の三角形を作る（外側の境界線） */
  z-index: 1;
}

.advanced-white-area {
  display: flex;
  width: 10%;
  left: 12.4%;
  position: absolute;
  background: #f8f9fa;
  text-align: center;
  align-items: center;
  top: 69%;
  height: 4%;
  z-index: 7;
  font-size: 30%;
  white-space: nowrap;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid black;
}
.advanced-white-area:before {
  content: "";
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translateX(-50%); /* 中央揃え */
  border: 8px solid transparent;
  border-top: 12px solid #f8f9fa; /* 上方向の三角形を作る */
  z-index: 2;
}

.advanced-white-area:after {
  content: "";
  position: absolute;
  top: 100%; /* 下方向に配置 */
  left: 50%; /* 吹き出しの中央に配置 */
  transform: translateX(-50%); /* 中央揃え */
  border: 10px solid transparent;
  border-top: 14px solid black; /* 上方向の三角形を作る（外側の境界線） */
  z-index: 1;
}

.advanced-white-area p {
  width: 100%;
  margin: 0;
}

.common-white-area {
  display: flex;
  position: absolute;
  background: #f8f9fa;
  text-align: center;
  align-items: center;
  width: 10%;
  top: 69%;
  left: 57.6%;
  height: 4%;
  z-index: 1;
  font-size: 30%;
  white-space: nowrap;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  border: 2px solid black;
}

.common-white-area:before {
  content: "";
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translateX(-50%); /* 中央揃え */
  border: 8px solid transparent;
  border-top: 12px solid #f8f9fa; /* 上方向の三角形を作る */
  z-index: 2;
}

.common-white-area:after {
  content: "";
  position: absolute;
  top: 100%; /* 下方向に配置 */
  left: 50%; /* 吹き出しの中央に配置 */
  transform: translateX(-50%); /* 中央揃え */
  border: 10px solid transparent;
  border-top: 14px solid black; /* 上方向の三角形を作る（外側の境界線） */
  z-index: 1;
}

.common-white-area p {
  width: 100%;
  margin: 0;
}

.relation-white-area {
  display: flex;
  position: absolute;
  background: #f8f9fa;
  text-align: center;
  align-items: center;
  width: 10%;
  top: 69%;
  left: 74.25%;
  height: 4%;
  z-index: 2;
  font-size: 30%;
  white-space: nowrap;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  border: 2px solid black;
}

.relation-white-area:before {
  content: "";
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translateX(-50%); /* 中央揃え */
  border: 8px solid transparent;
  border-top: 12px solid #f8f9fa; /* 上方向の三角形を作る */
  z-index: 2;
}

.relation-white-area:after {
  content: "";
  position: absolute;
  top: 100%; /* 下方向に配置 */
  left: 50%; /* 吹き出しの中央に配置 */
  transform: translateX(-50%); /* 中央揃え */
  border: 10px solid transparent;
  border-top: 14px solid black; /* 上方向の三角形を作る（外側の境界線） */
  z-index: 1;
}

.relation-white-area p {
  width: 100%;
  margin: 0;
}

.alert_lack_of_elective_units {
  position: absolute;
  top: 26.4%;
  left: 90.3%;
  width: 2.9%;
  height: 51%;
  background: rgba(256, 256, 0, 0.4);
}

.fulfill_elective_units {
  position: absolute;
  top: 26.4%;
  left: 90.3%;
  width: 2.9%;
  height: 51%;
  background: rgba(0, 128, 0, 0.4);
}

.location_of_balloon {
  position: absolute;
  top: 84%;
  left: 50%;
}

.balloon2-left {
  position: absolute;
  background: #f8f9fa;
  text-align: center;
  align-items: center;
  width: 130px;
  z-index: 10;
  font-size: 30%;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid black;
}

.balloon2-left:before {
  content: "";
  position: absolute;
  top: 57%;
  left: -18px;
  margin-top: -12px;
  border: 8px solid transparent;
  border-right: 12px solid #f8f9fa;
  z-index: 2;
}

.balloon2-left:after {
  content: "";
  position: absolute;
  top: 56%;
  left: -23.5px;
  margin-top: -14px;
  border: 10px solid transparent;
  border-right: 14px solid black;
  z-index: 1;
}

.balloon2-left p {
  margin: 0;
  padding: 0;
}

.hoberTable td,
.hoberTable th {
  white-space: nowrap;
}

.basic-list-button {
  position: absolute;
  bottom: 20%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  width: 90%;
  background-color: white;
  color: gray;
  border: 1px solid gray;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.basic-list-button:hover {
  color: blue;
  border: 1px solid blue;
}
.advance-list-button {
  position: absolute;
  bottom: 20%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  width: 90%;
  background-color: white;
  color: gray;
  border: 1px solid gray;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.advance-list-button:hover {
  color: blue;
  border: 1px solid blue;
}
